<a href="https://colab.research.google.com/github/avisruti/AI-ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [ ]:
(df.isnull().sum() / len(df)) * 100

PassengerId     0.000000
HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
Name            2.300702
Transported     0.000000
dtype: float64

**Solution to week 2 quiz**

In [ ]:
import math
numbers = [1, 2, 3, 4, 5]
mean = sum(numbers) / len(numbers)
squared_diff = [(x-mean)**2 for x in numbers]
variance = sum(squared_diff) / len(numbers)
std_deviation = math.sqrt(variance)
print(std_deviation)

1.4142135623730951

In [ ]:
original_list = [1, 2, 3, 4, 5]
multiplied_list = [x * 3 for x in original_list]

modified_list = multiplied_list[::-1]

print(modified_list)

[15, 12, 9, 6, 3]

In [ ]:
events = ["Hackathon", "Workshop", "Seminar"]
events.append("ColLeGe")
events[-2] = events[-2].upper()
events

['Hackathon', 'Workshop', 'SEMINAR', 'ColLeGe']

In [ ]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()

    return s==s[::-1]

string1 = "Racecar"
string2 = "Hello World"
print(f"Is '{string1}' a palindrome? {is_palindrome(string1)}")
print(f"Is '{string2}' a palindrome? {is_palindrome(string2)}")

Is 'Racecar' a palindrome? True
Is 'Hello World' a palindrome? False

In [ ]:
text = "i am studying at MIT"
capitalized = text.title()
final_text = capitalized[:17] + "Stanford"
print(final_text)

I Am Studying At Stanford

In [1]:
import numpy as np

h(x) =w0+w1*x1+w2*x2

In [66]:
data=[[60,22,140],[67,24,159],[71,15,192],[75,20,200],[78,16,212]]
print('Values for x1,x2 and y are :',data)
d1=np.array(data) # change list to an array
w0=0
w1=1
w2=1
alpha=0.0002
s=[] #define empty list
for i in range(5):
  #print(d1[i][0])
 a = w0+w1*d1[i][0] +w2 *d1[i][1]
 s.append([a])
 #print(s)
print('h(x) values for initial case :',s)
y0=np.append(d1,s,axis=1)
print('Full data set is ',y0)
print('length ', len(y0))

Values for x1,x2 and y are : [[60, 22, 140], [67, 24, 159], [71, 15, 192], [75, 20, 200], [78, 16, 212]]
h(x) values for initial case : [[82], [91], [86], [95], [94]]
Full data set is  [[ 60  22 140  82]
 [ 67  24 159  91]
 [ 71  15 192  86]
 [ 75  20 200  95]
 [ 78  16 212  94]]
length  5

In [76]:
def sum_w0(arr):
     s0=0
     for i in range(len(arr)):
      s0+= arr[i][3] -arr[i][2]

     return s0

def sum_w1(arr):
     s1=0
     for i in range(len(arr)):
      s1+= (arr[i][3] -arr[i][2])*arr[i][0]

     return s1

def sum_w2(arr):
     s2=0
     for i in range(len(arr)):
      s2+= (arr[i][3] -arr[i][2])*arr[i][1]

     return s2

In [77]:
print(sum_w0(y0))
print(sum_w1(y0))
print(sum_w2(y0))

-455
-32641
-8486

In [81]:
#Find w0 after 1st iteration W01
w01= w0-((alpha/len(y0))*sum_w0(y0))
w11= w1-((alpha/len(y0))*sum_w1(y0))
w21= w2-((alpha/len(y0))*sum_w2(y0))
print(w01)
print(w11)
print(w21)

w02= w01-((alpha/len(y0))*sum_w0(y0))
w12= w11-((alpha/len(y0))*sum_w1(y0))
w22= w21-((alpha/len(y0))*sum_w2(y0))
print(w02)
print(w12)
print(w22)

0.0182
2.3056400000000004
1.33944
0.0364
3.6112800000000007
1.67888